# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## <font color='blue'>Exercícios Feitos por Diego Quinto de Souza</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Exercícios Cap02

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [3]:
Ex1 = [1,2,3,4,5,6,7,8,9,10]
Ex1_1 = [1,2,3,4,5,6,7,8,9,10]

In [5]:
print(Ex1);
print(Ex1_1);
Ex1[3]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

4

In [8]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [4]:
Ex2 = ["Obj1","Obj2","Obj3","Obj4","Obj5"]

In [6]:
print(Ex2)

['Obj1', 'Obj2', 'Obj3', 'Obj4', 'Obj5']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [9]:
Ex3_1 = "Diego "

In [10]:
Ex3_2 ="Quinto"

In [11]:
Ex3_3 = Ex3_1 + Ex3_2

In [12]:
Ex3_3

'Diego Quinto'

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [13]:
Ex4 = (1, 2, 2, 3, 4, 4, 4, 5)

In [17]:
Ex4.count(4)

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [18]:
Ex5 = {}

In [19]:
Ex5

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [6]:
Ex6 = {1:"Diego",2:"Isabela",3:"Bianca"}

In [7]:
Ex6

{1: 'Diego', 2: 'Isabela', 3: 'Bianca'}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [10]:
Ex6[4]="Matheus"
Ex6[4]="DUDU"

In [11]:
Ex6

{1: 'Diego', 2: 'Isabela', 3: 'Bianca', 4: 'DUDU'}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [33]:
Ex8 = {1:"Janeiro",2:"Fevereiro",3:[1,2]}

In [34]:
Ex8

{1: 'Janeiro', 2: 'Fevereiro', 3: [1, 2]}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [27]:
Ex9 = ["Diego",("Quinto","Souza"),{1:"Maca",2:"Banana",3:"Laranja"},10.8]

In [28]:
Ex9

['Diego', ('Quinto', 'Souza'), {1: 'Maca', 2: 'Banana', 3: 'Laranja'}, 10.8]

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [29]:
Ex10 = "Cientista de Dados é o profissional mais sexy do século XXI"

In [30]:
Ex10[:18]

'Cientista de Dados'

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>